<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="urlCRM" value="http://192.168.15.17:31380/master-service/api/careers/search"/>
    <add key="urlSME" value="https://sme-bank.tcg.or.th"/>
    <add key="Key2" value="2"/>
  </appSettings>
  
</configuration>
